* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.topbar {
    position: fixed;  
    top: 0;  
    left: 0;
    width: 100%;
    z-index: 1000;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(221, 213, 208);
}

header {
    display: flex;
    justify-content:flex-start; 
    align-items: start;     
    padding: 10px 10px 0px 10px;
    background-color: #fdfdfd;
    color: rgb(0, 85, 74);
}

header h1 {
    font-size: 20px; 
    padding-top: 20px;
}

.logo {
    /* margin-right: 10px;  */
    margin: 5px 10px 0px 20px;
    cursor: pointer;
}

.logo img {
    height: 48px;
    
}

.nav-container {
    display: flex;
    flex: auto;
    justify-content:flex-end; 
    align-items: end; 
    background-color: #fdfdfd;
    padding: 0px 15px;
}

.nav-item {
    list-style: none;
    display: flex; 
    justify-content:flex-end;
}

.nav-item li {
    padding: 0px 20px 3px;
    margin: 5px 10px;
    border-radius: 5px;
    font-weight: 600;
    color: #140131;
    text-decoration: none;
}

.nav-item li a {
    transition: all 0.3s ease 0s;
}

.nav-item li:hover {
    background-color: #555;
}

.nav-item li a:hover {
    color: #cfcbcc;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger span {
    background-color: rgb(0, 0, 0);
    height: 3px;
    width: 25px;
    margin: 5px;
}

.main-container {
    display: flex;
    justify-content: space-between; 
    padding-top: 90px;   
}


/* appointment css */
form {
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#check {
    display: flex;
    align-items: center; 
    justify-content:left;
    
}

button {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

#error {
    color: red;
    font-size: 12px;
    display: none;
}

#formSummary {
    margin-top: 20px;
    margin-left: 20px;
    max-width: 400px;
}

#error {
    color: red;
    display: block;
}


/* login and registration css */

.forms {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
    flex: 3;
    margin-bottom: 10px;
    margin-left: 20px;
    padding: 20px;
}

#registrationForm .userinput {
    display: flex;
    flex-direction: row;
    /* align-items: flex-start; */
    gap: 10px;
    padding-top: 5px;
    margin-top: 5px;
}

p {
    color: #000285;
    text-align: center;
}

#registrationForm, #loginForm {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    flex: 1;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
}

#registrationForm label, #loginForm label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

#registrationForm input[type="text"],
#registrationForm input[type="email"],
#registrationForm input[type="password"],
#registrationForm input[type="number"],
#registrationForm select,
#loginForm input[type="text"],
#loginForm input[type="email"],
#loginForm input[type="password"],
#loginForm input[type="number"],
#loginForm select {
    width: 100%;
    padding: 7px;
    margin-bottom: 2px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#loginForm input, #registrationForm input[type="radio"] {
    margin-right: 2px;
}

#loginForm button, #registrationForm button {
    display: block;
    width: 100%;
    padding: 0.7rem;
    background: #140131;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#loginForm button:hover , #registrationForm button:hover {
    background: #555;
}

.error {
    color: red;
    font-size: small;
    font-style: italic;
    margin-top: 0;
    margin-bottom: 20px;
}


/* Summery table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 2px solid #ffffff;
    padding: 8px;
    text-align: left;
    color: black;
}

th {
    background-color: #ffffff;
    color: #330404;
}

tr:hover {
    background-color: #f1f1f1;
}

/* side bar css */

aside {
    flex: 1;
    padding-left: 30px;
    padding-bottom: 40px;
    list-style: none;
    background-color: #333;
    color: #cfcbcc;
}

aside h3 {
    margin-top: 30px;
    color: #cfcbcc;
}

aside li {
    margin: 0px 10px 7px;
}

aside li a:hover {
    color: #246aff;
}

aside li a {
    color: #8fb6ec;
}

section {
    padding: 2rem 0;
}

aside input {
    width: 60%;
    padding: 7px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

h2 {
    margin-bottom: 10px;
    color: #330404;
}



form button {
    display: block;
    width: 50%;
    padding: 0.7rem;
    background: #140131;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background: #555;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
    /* margin-top: 20px;     */
}

footer ul a{
    color: #d7ccff;
}

footer ul {
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: space-around;
    list-style: none;
}

footer p {
    color: #d7ccff;
}



/* for larger screens than 768px */
@media (min-width: 768px) {
    .nav-item{
        flex: 1 1 20%;
    }
}


/* screens smaller than 768px */
@media (max-width: 768px) {
    .main-container {
        flex-direction: column;
        padding: 0px 10px;
        padding-top: 160px;
    }

    .nav-item{
        flex-direction: column;
        flex: 1 1 45%;
        list-style: none;
        justify-content:center;
    }

    aside {
        margin-top: 20px;
        list-style: none;
    }

    form input {
        width: 95%;
    }
}


/* screens smaller than 450px */
@media (max-width: 480px) {
    .main-container {
        flex-direction: column;
        padding-top: 60px;
    }

    .nav-container {
        flex-direction: column;
    }

    .nav-item {
        display: none;
        flex-direction: column;
        background-color: #333;
    }

    .hamburger {
        display: flex;
    }

    .hamburger.active + .nav-item {
        display: flex;
    }

    aside {
        margin-top: 20px;
        list-style: none;
    }

    form input {
        width: 95%;
    }
}